langchain==0.0.198
python-dotenv==1.0.0
streamlit==1.23.1
openai==0.27.8
wikipedia==1.4.0
tiktoken==0.4.0
chromadb==0.3.26
requests~=2.31.0
mysql~=0.0.3
mysql-connector-python~=8.0.26
matplotlib~=3.7.2
numpy~=1.25.0
plotly~=5.15.0
networkx~=3.1